.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* 
.register-banner {
  background-image: url('https://corporx.themetags.com/assets/img/slider-bg-1.svg');
  background-repeat: no-repeat;
  height: 100vh;
  object-fit: cover;


} */


.hero-img {
  border-radius: 63% 37% 30% 70% / 50% 45% 55% 50%;
  background-color: #1a2c79;
  /* opacity: 50%; */

}


.header-card:hover {
  color: white;

}


.three-btn {
  color: white;
}

.three-btn:hover {
  background-color: white;
  color: black;
}



.header-banner {
  /* background-image: url('https://corporx.themetags.com/assets/img/hero-bg5.jpg'); */
  background: linear-gradient(rgba(117, 141, 250, 0.5), rgba(248, 250, 241, 0.5)), url("https://corporx.themetags.com/assets/img/hero-bg5.jpg");

  /* background: linear-gradient(rgba(#3d5ef0), rgba(#f8589d)), url("https://corporx.themetags.com/assets/img/hero-bg5.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;



}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}